.App {}

.sidebar-icon-parent svg,
.header-action-btn svg,
.capture-tools svg {
    color: #0e1a44;
}

.badge-clepher {
    background-color: rgb(222 239 255/1);
    border-color: rgb(199 228 255/1);
    border-width: 1px;
    border-radius: 1.9rem;
    font-size: .875rem;
    height: 1.25rem;
    line-height: 1.25rem;
    margin: 0.125rem;
    padding: 0.875rem 0.625rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}